@CHARSET "UTF-8";

/*reset*/
* {margin:0; padding:0; font-family:Arial;}

/*global*/
form input {padding:3px 7px;}

/*global*/
header,footer {position:fixed; right:1px; left:1px; height:2em; line-height:2em; padding:0 1em; overflow:hidden;}
header {top:0;}
footer {bottom:0;}

/*head & foot bar*/
menu {display:inline-block;}
command {display:inline-block; cursor:pointer;}
#menu_home {background-image:url("images/potato.png"); width:100px; height:2em; max-height:40px;}
#menu_home:hover {background-position:0 40px;}
#search {float:right;}
#search_target {width:24em;}
#copyright {float:right; font-style:italic;}

/*content place holder*/
#_vph {position:absolute; top:3em; bottom:3em; width:100%;}
#_hph {height:100%; width:100em; margin:0 auto;}
#_hph>* {display:inline-block; vertical-align:top; float:left; overflow:hidden;}

.ui-tabs {position:absolute; top:0; bottom:0; left:0; right:0; border-width:0;}
.ui-tabs-nav a {font-weight:bold; font-size:70%;}

aside {position:relative; height:100%; margin:0 1em;}
aside.left {width:25em;}
aside.right {width:20em;}

#seasons {bottom:2em;}
#seasons>.ui-tabs-panel {position:absolute; top:2.4em; bottom:0; left:.2em; right:.2em; padding:0;}
#seasons .season {overflow:auto; height:100%;}
#seasons .season>li {position:relative; overflow:auto; margin:.5em; padding:.5em; white-space: nowrap; border-color:#FFF; cursor:alias;}
#seasons .season>li:hover {border-color:#A6C9E2; border-radius:5px; border-style:dotted dashed;}
#seasons .season .handle {display:inline-block; cursor:move; margin-right:5px;}

aside>nav {position:absolute; bottom:0; height:2em; line-height:2em; width:100%; margin:-1px;}
aside>nav button {float:left; margin:0;}
aside>nav>div>* {font-size:.76em!important; height:2.4em; margin:1px 0 1px -1px;}
aside>nav>.seed {float:left; margin-left:1em;}
aside>nav>.field {float:right; margin-right:1em;}

#seed-info {position:absolute; top:-3.3em; left:.8em; right:2.8em; padding:0 1em; height:2.8em;}
#seed-info>.ui-icon {cursor:pointer; margin-top:.76em;}
#seed-info>.ui-icon-tag {float:left;}
#seed-info>.ui-icon-close {float:right;}
#seed_label {padding:.4em .6em; margin:.3em .9em; border-width:0; width:19em;}

article {position:relative; height:100%; width:50em; margin:0;}

#details>.ui-tabs-nav .ui-icon-home {display:inline-block; margin:0 .4em 0 -.4em; vertical-align:top;}
#details>.ui-tabs-nav .ui-icon-close {display:inline-block; cursor:pointer; margin:.3em .3em 0 -.3em}
#details>div {position:absolute; top:2.4em; left:0; right:0; bottom:0; padding:.3em; margin:.3em; overflow:auto;}
#details .ellipsis {width:7em; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#details details {display:block;}
#details summary {display:block; padding:.5em 1em;}
#details .description {padding:0 2em;}
#details .description li {list-style:square inside none; padding:.3em .7em;}
#details fieldset {border:1px solid #A6C9E2; border-width:1px 0 0 0; margin-top:1em; font-size:.9em;}
#details fieldset.collapsed>* {display:none;}
#details legend {padding:0 .5em; cursor:pointer;display:inherit!important; font-weight:bold;}
#details legend .ui-icon-triangle-1-s {float:left; margin:.2em .3em 0 0;}
#details fieldset.collapsed legend .ui-icon-triangle-1-s {background-position:-32px -16px; margin-top:.1em;}
#details blockquote .ui-icon-carat-1-s {display:inline-block; vertical-align:text-bottom; cursor:pointer; margin-right:.2em;}
#details blockquote .collapsed {overflow:hidden; height:1em;}
#details blockquote .collapsed .ui-icon-carat-1-s {background-position:-32px 0; margin-bottom:.1em;}
#details .fields {padding:.5em;}
#details .fields th, #details_depot .fields td {padding:.2em .8em; font-weight:normal; white-space:nowrap;}
#details .fields th {text-align:right; color:#915608;}
#details .fields .progress {width:360px;}
#details .fields .progress-bar {height:10px; background-color:#EAF5F7; margin:1px;}
.progress-bar .estimated {height:100%; background-color:#77D5F7; float:left;}
.progress-bar .practical {height:100%; background-color:#ACDD4A; float:left;}
.progress span {margin-top:-1.25em;}
#details blockquote {display:block; margin:0 0.6em 0.3em 1.2em; padding:0.8em; border-style:dashed double; border-color:#A6C9E2; border-width:0 3px 1px 0;}
#details .ui-icon-pencil {float:right; cursor:pointer; margin-left:.5em;}
#details time {font-size:75%; color:#915608; font-size:smaller; float:right;}
#details blockquote time {margin:0 0 1em 1em;}
#details summary:hover, #details blockquote:hover, #details li:hover {background-color:#EAF5F7;}

.ui-datepicker {margin:.2em auto .8em; border-width:0;}
.ui-datepicker-header {font-size:77%;}
aside.right h3 {margin:1.6em .8em .4em; padding:.3em .7em; font-size:100%;}
.extra-info {margin:0 2em;}
