@CHARSET "UTF-8";

/*reset*/
* {margin:0; padding:0; font-family:Arial;}

/*global*/
form input {padding:3px 7px;}

/*global*/
header,footer {position:fixed; right:1px; left:1px; height:2em; line-height:2em; padding:0 1em; overflow:hidden;}
header {top:0;}
footer {bottom:0;}

/*head & foot bar*/
menu {display:inline-block;}
command {display:inline-block; cursor:pointer;}
#menu-home {background-image:url("images/potato.png"); width:100px; height:2em; max-height:40px;}
#menu-home:hover {background-position:0 40px;}
#search {float:right;}
#search-target {width:24em;}
#copyright {float:right; font-style:italic;}

/*content place holder*/
#-vph {position:absolute; top:3em; bottom:3em; width:100%;}
#-hph {height:100%; width:100em; margin:0 auto;}
#-hph>* {display:inline-block; vertical-align:top; float:left;}

aside {position:relative; height:100%; margin:0 1em;}
aside.left {width:25em;}
aside.right {width:20em;}

#categories {position:absolute; top:0; bottom:2em; left:0; right:0; border-width:0;}
#categories>.ui-tabs-nav>li {font-weight:bold; font-size:70%;}
#categories>.ui-tabs-panel {position:absolute; top:2.4em; bottom:0; left:.2em; right:.2em; padding:0;}
#categories .category {overflow:auto; height:100%;}
#categories .category>li {position:relative; overflow:auto; margin:.5em 1em; padding:.5em; white-space: nowrap;}
#categories .category .handle {display:inline-block; cursor:move; margin-right:5px;}

aside>nav {position:absolute; bottom:0; height:2em; line-height:2em; width:100%; margin:-1px;}
aside>nav>form {font-size:.6em!important; margin:.3em 1.7em!important;}
aside>nav>form.item {float:left;}
aside>nav>form.page {float:right;}
aside>nav>form>button {float:left; margin:0;}

article {position:relative; height:100%; width:50em; margin:0;}
